{% extends 'main/layout.html' %}

{% block title %}About{% endblock title %}
{% block body %}
<section id="features">
        <h1>Platform Features</h1>
        <div class="feature fade-in">
            <h2>For Students</h2>
            <p>Access assignments, grades, and resources all in one place.</p>
        </div>
        <div class="feature fade-in">
            <h2>For Teachers</h2>
            <p>Manage classes, track attendance, and communicate effectively with parents.</p>
        </div>
        <div class="feature fade-in">
            <h2>For Parents</h2>
            <p>Stay updated on your child's progress and receive important school notifications.</p>
        </div>
    </section>
{% endblock body %}